.feedback-title, .clients-title {
  color: #413d4b;
  font-family: "Playfair Display", $default-fonts;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.feedback-clients {

  display: flex;
  align-items: center;

  &-wrapper {
    min-width: 940px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .feedback {
    width: 460px;
    display: flex;
    flex-direction: column;

    &-title {
      margin-bottom: 35px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      input {
        padding: 15px 20px;
        width: 460px;
        box-sizing: border-box;
        margin-bottom: 20px;
        border: 1px solid #000000;
        opacity: 0.1;

        &:focus {
          opacity: 1;
        }
      }

      textarea {
        padding: 20px;
        width: 460px;
        height: 200px;
        box-sizing: border-box;
        margin-bottom: 20px;
        border: 1px solid #000000;
        opacity: 0.1;

        &:focus {
          opacity: 1;
        }
      }

      .expanding-button {
        padding: 15px 30px;
      }

    }

  }

.clients {

  width: 380px;
  display: flex;
  flex-direction: column;

  &-title {
    margin-bottom: 45px;
  }

  &-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: 450px;

    li {
      flex-basis: 50%;

      &:nth-child(even) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
}