/*<TEXT DESCRIPTION*/
.description {
  display: flex;
  align-items: center;

  &-wrap {
    width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &-title {
    color: #413d4b;
    font-family: "Playfair Display", $default-fonts;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }

  &-content {
    opacity: 0.75;
    color: #413d4b;
    font-family: Roboto,  $default-fonts;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.42px;
    margin-top: 30px;
  }

  &-wrapper {
    width: 540px;
  }

  .expanding-button {
    position: relative;
    top: 45px;
  }
}
/*TEXT DESCRIPTION>*/

/*<VIDEO DESCRIPTION*/
.video-description {

  display: flex;
  align-items: center;
  &-theme {

    img {
      position: absolute;
      top: 200vh;
      left: 0;
      height: 100vh;
      width: 100%;
    }

    &::after {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 200vh;
      left: 0;
      content: "";
      background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
      opacity: 0.85;
    }

  }

  &-wrapper {
    position: relative;
    min-width: 160px;
    width: 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .play-button {
      background: none;
      border: none;
    }

  }

  &-title {
    color: #ffffff;
    font-family: Roboto, $default-fonts;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-top: 35px;
  }

}
/*VIDEO DESCRIPTION>*/