 .expertise {

     display: flex;
     align-items: center;
     text-align: center;

     &-wrapper {
         min-width: 940px;
         width: 60%;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     &-title {
         color: #413d4b;
         font-family: "Playfair Display", $default-fonts;
         font-size: 22px;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 1.1px;
     }

     &-subtitle {
         opacity: 0.75;
         color: #2f2d35;
         font-family: "Playfair Display", $default-fonts;
         font-size: 14px;
         font-weight: 400;
         letter-spacing: 1.05px;
         margin-top: 15px;
         display: flex;
         flex-direction: column;
         align-items: center;

         &::after {
            content: "";
            display: block;
            width: 50px;
            border-bottom: 1px solid #413d4b;
            margin-top: 20px
         }
     }

     &-list {
         list-style-type: none;
         display: flex;
         flex-wrap: wrap;
         margin-top: 70px;
         border-collapse: collapse;

         //icons
                 .web-design::before {
                    content: "";
                    width: 49px;
                    height: 50px;
                    background: url("../../img/web-design.png");
                    display: block;
                    margin: 0 auto 35px;
                 }

                 .identity::before {
                    content: "";
                    width: 50px;
                    height: 42px;
                    background: url("../../img/identity.png");
                    display: block;
                    margin: 0 auto 40px;
                 }

                 .mobile::before {
                    content: "";
                    width: 28px;
                    height: 50px;
                    background: url("../../img/mobile.png");
                    display: block;
                    margin: 0 auto 35px;
                 }

                 .optimize::before {
                    content: "";
                    width: 50px;
                    height: 50px;
                    background: url("../../img/optimize.png");
                    display: block;
                    margin: 0 auto 35px;
                 }

                 .game::before {
                    content: "";
                    width: 41px;
                    height: 50px;
                    background: url("../../img/game.png");
                    display: block;
                    margin: 0 auto 35px;
                 }

                 .love::before {
                    content: "";
                    width: 50px;
                    height: 46px;
                    background: url("../../img/love.png");
                    display: block;
                    margin: 0 auto 35px;
                 }

         //icons

         //borders
                 &-item:nth-child(3n+1) {
                    border-bottom: $border-white;
                 }

                 &-item:nth-child(3n+2), &-item:nth-child(3n) {
                    border-left: $border-white;
                    border-bottom:  $border-white;
                 }

                 .prelast {
                    border: none;
                    border-right:  $border-white;
                 }

                 .last {
                    border: none;
                 }
         //borders

         &-item {
            text-align: center;
            flex-basis: calc(100%/3);
            padding: 30px;
            box-sizing: border-box;
         }

         &-title {
            color: #413d4b;
            font-family: Roboto, $default-fonts;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.7px;
         }

         &-content {
            opacity: 0.75;
            color: #333333;
            font-family: Roboto, $default-fonts;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0.7px;
            margin-top: 25px;
         }
     }
 }