@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display|Roboto");
/* line 1, ../sass/_welcome.scss */
.fixed-header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 10;
  top: 0;
}
/* line 8, ../sass/_welcome.scss */
.fixed-header-wrapper {
  min-width: 950px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 16, ../sass/_welcome.scss */
.fixed-header .logo {
  margin-top: 15px;
}
/* line 20, ../sass/_welcome.scss */
.fixed-header .nav-list {
  display: flex;
  list-style-type: none;
  margin-top: 35px;
}
/* line 25, ../sass/_welcome.scss */
.fixed-header .nav-list-item {
  margin-left: 25px;
  text-decoration: none;
  font-family: "Roboto - Black", Helvetica, Georgia, sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.33px;
}
/* line 35, ../sass/_welcome.scss */
.fixed-header .nav-list-item:hover {
  color: #00e0d0;
  transition: 0.5s;
}

/* line 43, ../sass/_welcome.scss */
.main-header {
  height: 100vh;
}
/* line 46, ../sass/_welcome.scss */
.main-header img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
/* line 55, ../sass/_welcome.scss */
.main-header-photo::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
}
/* line 67, ../sass/_welcome.scss */
.main-header-content {
  width: 770px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 77, ../sass/_welcome.scss */
.main-header-title {
  color: #ffffff;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.32px;
  margin: 0;
}
/* line 86, ../sass/_welcome.scss */
.main-header-data {
  margin-top: 30px;
  color: #ffffff;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  text-align: center;
}
/* line 97, ../sass/_welcome.scss */
.main-header .expanding-button {
  margin-top: 50px;
}

/* line 102, ../sass/_welcome.scss */
.expanding-button {
  color: #00e0d0;
  font-family: "Hammersmith One", Helvetica, Georgia, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid #00e0d0;
  text-decoration: none;
  background: none;
}

/* line 1, ../sass/_general.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 6, ../sass/_general.scss */
section {
  min-height: 100vh;
}

/*<TEXT DESCRIPTION*/
/* line 2, ../sass/_description.scss */
.description {
  display: flex;
  align-items: center;
}
/* line 6, ../sass/_description.scss */
.description-wrap {
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 13, ../sass/_description.scss */
.description-title {
  color: #413d4b;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
/* line 22, ../sass/_description.scss */
.description-content {
  opacity: 0.75;
  color: #413d4b;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.42px;
  margin-top: 30px;
}
/* line 33, ../sass/_description.scss */
.description-wrapper {
  width: 540px;
}
/* line 37, ../sass/_description.scss */
.description .expanding-button {
  position: relative;
  top: 45px;
}

/*TEXT DESCRIPTION>*/
/*<VIDEO DESCRIPTION*/
/* line 45, ../sass/_description.scss */
.video-description {
  display: flex;
  align-items: center;
}
/* line 51, ../sass/_description.scss */
.video-description-theme img {
  position: absolute;
  top: 200vh;
  left: 0;
  height: 100vh;
  width: 100%;
}
/* line 59, ../sass/_description.scss */
.video-description-theme::after {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 200vh;
  left: 0;
  content: "";
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
}
/* line 72, ../sass/_description.scss */
.video-description-wrapper {
  position: relative;
  min-width: 160px;
  width: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 81, ../sass/_description.scss */
.video-description-wrapper .play-button {
  background: none;
  border: none;
}
/* line 88, ../sass/_description.scss */
.video-description-title {
  color: #ffffff;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-top: 35px;
}

/*VIDEO DESCRIPTION>*/
/* line 1, ../sass/_expertise.scss */
.expertise {
  display: flex;
  align-items: center;
  text-align: center;
}
/* line 7, ../sass/_expertise.scss */
.expertise-wrapper {
  min-width: 940px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 16, ../sass/_expertise.scss */
.expertise-title {
  color: #413d4b;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
/* line 25, ../sass/_expertise.scss */
.expertise-subtitle {
  opacity: 0.75;
  color: #2f2d35;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  margin-top: 15px;
}
/* line 35, ../sass/_expertise.scss */
.expertise-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  border-collapse: collapse;
}
/* line 43, ../sass/_expertise.scss */
.expertise-list .web-design::before {
  content: "";
  width: 49px;
  height: 50px;
  background: url("../../img/web-design.png");
  display: block;
  margin: 0 auto 35px;
}
/* line 52, ../sass/_expertise.scss */
.expertise-list .identity::before {
  content: "";
  width: 50px;
  height: 42px;
  background: url("../../img/identity.png");
  display: block;
  margin: 0 auto 40px;
}
/* line 61, ../sass/_expertise.scss */
.expertise-list .mobile::before {
  content: "";
  width: 28px;
  height: 50px;
  background: url("../../img/mobile.png");
  display: block;
  margin: 0 auto 35px;
}
/* line 70, ../sass/_expertise.scss */
.expertise-list .optimize::before {
  content: "";
  width: 50px;
  height: 50px;
  background: url("../../img/optimize.png");
  display: block;
  margin: 0 auto 35px;
}
/* line 79, ../sass/_expertise.scss */
.expertise-list .game::before {
  content: "";
  width: 41px;
  height: 50px;
  background: url("../../img/game.png");
  display: block;
  margin: 0 auto 35px;
}
/* line 88, ../sass/_expertise.scss */
.expertise-list .love::before {
  content: "";
  width: 50px;
  height: 46px;
  background: url("../../img/love.png");
  display: block;
  margin: 0 auto 35px;
}
/* line 100, ../sass/_expertise.scss */
.expertise-list-item:nth-child(3n+1) {
  border-bottom: 1px solid #ebebeb;
}
/* line 104, ../sass/_expertise.scss */
.expertise-list-item:nth-child(3n+2), .expertise-list-item:nth-child(3n) {
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
/* line 109, ../sass/_expertise.scss */
.expertise-list .prelast {
  border: none;
  border-right: 1px solid #ebebeb;
}
/* line 114, ../sass/_expertise.scss */
.expertise-list .last {
  border: none;
}
/* line 119, ../sass/_expertise.scss */
.expertise-list-item {
  text-align: center;
  flex-basis: calc(100%/3);
  padding: 30px;
  box-sizing: border-box;
}
/* line 126, ../sass/_expertise.scss */
.expertise-list-title {
  color: #413d4b;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
/* line 135, ../sass/_expertise.scss */
.expertise-list-content {
  opacity: 0.75;
  color: #333333;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.7px;
  margin-top: 25px;
}

/* line 1, ../sass/_team.scss */
.team {
  display: flex;
  align-items: center;
  text-align: center;
}
/* line 9, ../sass/_team.scss */
.team-bg img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 400vh;
  left: 0;
}
/* line 17, ../sass/_team.scss */
.team-bg::after {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 400vh;
  left: 0;
  content: "";
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
}
/* line 30, ../sass/_team.scss */
.team-wrapper {
  position: relative;
  min-width: 940px;
  width: 60%;
  margin: 0 auto;
}
/* line 37, ../sass/_team.scss */
.team-title {
  color: #ffffff;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
}
/* line 47, ../sass/_team.scss */
.team-subtitle {
  color: #f9f9f9;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  margin-bottom: 65px;
  opacity: 0.5;
}
/* line 57, ../sass/_team.scss */
.team-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* line 63, ../sass/_team.scss */
.team-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e1e1e1;
}
/* line 70, ../sass/_team.scss */
.team-list-item .name {
  color: #ffffff;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-top: 25px;
}
/* line 80, ../sass/_team.scss */
.team-list-item .position {
  opacity: 0.7;
  color: #fafafa;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 10px 0 25px;
}
/* line 92, ../sass/_team.scss */
.team-footer {
  color: #f3f3f3;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin: 70px 0 25px;
}
/* line 101, ../sass/_team.scss */
.team .expanding-button {
  background: none;
}

/* line 1, ../sass/_works.scss */
.works {
  display: flex;
  align-items: center;
  text-align: center;
}
/* line 6, ../sass/_works.scss */
.works-wrapper {
  width: 100%;
}
/* line 10, ../sass/_works.scss */
.works-heading {
  min-width: 940px;
  width: 60%;
  margin: 0 auto 70px;
  display: flex;
  justify-content: space-between;
}
/* line 19, ../sass/_works.scss */
.works-title {
  color: #413d4b;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
/* line 28, ../sass/_works.scss */
.works button {
  color: #413d4b;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
}
/* line 39, ../sass/_works.scss */
.works button img {
  margin-left: 10px;
}
/* line 45, ../sass/_works.scss */
.works-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 85px;
}
/* line 52, ../sass/_works.scss */
.works-list-item {
  width: calc(100% / 6);
  overflow: hidden;
}

/* line 1, ../sass/_quotes.scss */
.quotes {
  display: flex;
  align-items: center;
  text-align: center;
}
/* line 9, ../sass/_quotes.scss */
.quotes-bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  top: 600vh;
  left: 0;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
}
/* line 20, ../sass/_quotes.scss */
.quotes-bg img {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 600vh;
}
/* line 30, ../sass/_quotes.scss */
.quotes-wrapper {
  min-width: 770px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
/* line 41, ../sass/_quotes.scss */
.quotes-author {
  color: #ffffff;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 50px auto 10px;
}
/* line 52, ../sass/_quotes.scss */
.quotes-position {
  opacity: 0.7;
  color: #ffffff;
  font-family: Roboto, Helvetica, Georgia, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}
/* line 62, ../sass/_quotes.scss */
.quotes-item {
  opacity: 0.85;
  color: #ffffff;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
}
/* line 71, ../sass/_quotes.scss */
.quotes-item::before {
  content: " “ ";
  opacity: 0.9;
  color: #ffffff;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 40px;
}
/* line 85, ../sass/_quotes.scss */
.quotes-carousel {
  width: 55%;
  min-width: 400px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-top: 45px;
}
/* line 95, ../sass/_quotes.scss */
.quotes-carousel-item:hover {
  width: 70px;
  height: 70px;
}
/* line 100, ../sass/_quotes.scss */
.quotes-carousel button {
  background: none;
  border: none;
}

/* line 1, ../sass/_clients-feedback.scss */
.feedback-title, .clients-title {
  color: #413d4b;
  font-family: "Playfair Display", Helvetica, Georgia, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

/* line 10, ../sass/_clients-feedback.scss */
.feedback-clients {
  display: flex;
  align-items: center;
}
/* line 15, ../sass/_clients-feedback.scss */
.feedback-clients-wrapper {
  min-width: 940px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 23, ../sass/_clients-feedback.scss */
.feedback-clients .feedback {
  width: 460px;
  display: flex;
  flex-direction: column;
}
/* line 28, ../sass/_clients-feedback.scss */
.feedback-clients .feedback-title {
  margin-bottom: 35px;
}
/* line 32, ../sass/_clients-feedback.scss */
.feedback-clients .feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 37, ../sass/_clients-feedback.scss */
.feedback-clients .feedback-form input {
  padding: 15px 20px;
  width: 460px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #000000;
  opacity: 0.1;
}
/* line 45, ../sass/_clients-feedback.scss */
.feedback-clients .feedback-form input:focus {
  opacity: 1;
}
/* line 50, ../sass/_clients-feedback.scss */
.feedback-clients .feedback-form textarea {
  padding: 20px;
  width: 460px;
  height: 200px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #000000;
  opacity: 0.1;
}
/* line 59, ../sass/_clients-feedback.scss */
.feedback-clients .feedback-form textarea:focus {
  opacity: 1;
}
/* line 64, ../sass/_clients-feedback.scss */
.feedback-clients .feedback-form .expanding-button {
  padding: 15px 30px;
}
/* line 72, ../sass/_clients-feedback.scss */
.feedback-clients .clients {
  width: 380px;
  display: flex;
  flex-direction: column;
}
/* line 78, ../sass/_clients-feedback.scss */
.feedback-clients .clients-title {
  margin-bottom: 45px;
}
/* line 82, ../sass/_clients-feedback.scss */
.feedback-clients .clients-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 450px;
}
/* line 88, ../sass/_clients-feedback.scss */
.feedback-clients .clients-list li {
  flex-basis: 50%;
}
/* line 91, ../sass/_clients-feedback.scss */
.feedback-clients .clients-list li:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}
